<div
  class="kt-portlet"
  [ngClass]="{ 'kt-portlet--body-progress': viewLoading }"
>
  <!-- start ktporlet header -->
  <div
    class="kt-portlet__head kt-portlet__head__custom"
    *ngIf="<%= singularize(name) %>"
  >
    <div class="kt-portlet__head-label">
      <h6 class="kt-portlet__head-title">{{ title }}</h6>
    </div>
  </div>
  <!-- end ktporlet header -->
  <div *ngIf="<%= singularize(name) %>">
    <!-- start ktporlet body -->
    <div class="kt-portlet__body">
      <div class="row mb-2">
        <% Object.keys(JSON.parse(obj)).forEach(key => { %> <% if
        (JSON.parse(obj)[key]['display'] === true && key !== 'stt' &&
        JSON.parse(obj)[key]['isPrimitive'] === true) { %>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <h6 class="kt-section__heading"><%= capitalize(key) %>:</h6>
            </div>
            <div class="col-md-8">
              {{ <%= singularize(name) %>.<%= key %> }}
            </div>
          </div>
        </div>
        <% } %> <% }) %>
      </div>
    </div>
    <!-- end ktporlet body -->
    <!-- start ktporlet footer -->
    <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
      <div class="kt-form__actions kt-form__actions--solid">
        <div class="row mb-2 text-right">
          <div class="col-lg-12">
            <button
              type="button"
              mat-raised-button
              (click)="close()"
              cdkFocusInitial
              matTooltip="Đóng lại"
            >
              Đóng lại
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end ktporlet footer -->
  </div>
</div>
